In [1]:
# Data handling
import pandas as pd
import numpy as np

# Plotting
import matplotlib.pyplot as plt
import seaborn as sns

# Settings for better plots
%matplotlib inline
sns.set(style="whitegrid")

In [5]:
# Load TSV properly
data = pd.read_csv(
    r"C:\Users\merye\projects\rna-seq-tcga-brca\data\raw\brca_rnaseq_counts.tsv",
    sep="\t",
    comment="#",       # skip metadata lines starting with #
    index_col=0        # first column (gene_id) as index
)

# Drop special rows that are not real genes
special_rows = ["N_unmapped", "N_multimapping", "N_noFeature", "N_ambiguous"]
data = data.drop(index=special_rows, errors='ignore')

# Inspect first 5 real genes
data.head()

,gene_name,gene_type,unstranded,stranded_first,stranded_second,tpm_unstranded,fpkm_unstranded,fpkm_uq_unstranded
gene_id,,,,,,,,
ENSG00000000003.15,TSPAN6,protein_coding,879,437,442,12.0296,3.0972,3.3855
ENSG00000000005.6,TNMD,protein_coding,9,7,2,0.3785,0.0975,0.1065
ENSG00000000419.13,DPM1,protein_coding,2623,1309,1314,134.9047,34.7327,37.9662
ENSG00000000457.14,SCYL3,protein_coding,1727,1317,1208,15.5758,4.0102,4.3835
ENSG00000000460.17,C1orf112,protein_coding,421,641,637,4.3777,1.1271,1.2320

In [6]:
# Check dimensions
print("Shape of the dataset:", data.shape)

Shape of the dataset: (60660, 8)

In [8]:
# Summary stats
data.describe()

,unstranded,stranded_first,stranded_second,tpm_unstranded,fpkm_unstranded,fpkm_uq_unstranded
count,60660.000000,60660.000000,60660.000000,60660.000000,60660.000000,60660.000000
mean,1054.867656,586.576921,587.906990,16.485328,4.244323,4.639462
std,9619.697490,5031.201693,5072.322549,242.457142,62.423163,68.234653
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,1.000000,0.048700,0.012500,0.013700
75%,57.000000,68.000000,69.000000,1.654200,0.425925,0.465525
max,796362.000000,395397.000000,400985.000000,23927.063000,6160.276200,6733.787400

In [ ]:
# 01_data_exploration
This notebook is the first step in the TCGA BRCA RNA-Seq project.
We load RNA-Seq gene expression data, inspect it, and prepare it for downstream
differential expression analysis.